# Oracle Database
ORACLE_USER=mbnowner
ORACLE_PASSWORD=
ORACLE_CONNECTION_STRING=localhost:1521/SICAR

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=24h

# SIGFE Integration
SIGFE_URL=
SIGFE_USUARIO=
SIGFE_CODIGO_INSTITUCION=
SIGFE_CORREO_NOTIFICACION=

# TGR Integration
TGR_URL=
TGR_API_KEY=

# App
PORT=3001
CORS_ORIGINS=http://localhost:3000
